apiVersion: apps/v1
kind: Deployment
metadata:
  name: school-chale-hum-mac-app
  labels:
    app: school-chale-hum-mac
spec:
  replicas: 1
  selector:
    matchLabels:
      app: school-chale-hum-mac
  template:
    metadata:
      labels:
        app: school-chale-hum-mac
    spec:
      imagePullSecrets:
        - name: harbor-registry-secret
      containers:
        - image: harbor.arpansahu.space/library/school_chale_hum_mac:latest
          name: school-chale-hum-mac
          envFrom:
            - secretRef:
                name: school-chale-hum-secret
          ports:
            - containerPort: 8001
              name: gunicorn