version: '3.8'

services:
  web:
    build:  # This section will be used when running locally
      context: .
      dockerfile: Dockerfile
    image: ${DOCKER_REGISTRY}/${DOCKER_REPOSITORY}/${DOCKER_IMAGE_NAME}:latest
    env_file: ./.env
    command: bash -c "python manage.py migrate --noinput && python manage.py collectstatic --noinput && gunicorn --bind 0.0.0.0:${DOCKER_PORT} school_chale_hum.wsgi"
    container_name: ${ENV_PROJECT_NAME}
    volumes:
      - .:/app
    ports:
      - "${DOCKER_PORT}:${DOCKER_PORT}"
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge