{% extends 'base.html' %}

{% block content %}



</div>
  <section>
    <div class="page-header section-height-75">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
            <div class="card card-plain mt-6">
              <div class="card-header pb-0 text-left bg-transparent">
                	<div class="d-flex flex-column">
                          <p class="m-auto p-2">
                            We've emailed you instructions for setting your password, if an account exists with the email you entered.
                            You should receive them shortly.
                          </p>
                          <p class="m-auto p-2">
                            If you don't receive an email, please make sure you've entered the address you registered with,
                            and check your spam folder.
                          </p>
                          <p class="m-auto p-2">
                            Or You can login <a href="{% url 'login' %}">Here</a>
                          </p>
                          <p class="m-auto p-2"><a href="{% url 'home' %}">Return to home page</a></p>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}