{% extends 'base.html' %}

{% block content %}
<style type="text/css">
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .h3{
    text-align: center;
  }
</style>

    {% if 'reset' in request.path %}
        {% if validlink %}
              <section>
                <div class="page-header section-height-75">
                  <div class="container">
                    <div class="row">
                      <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                        <div class="card card-plain mt-6">
                          <div class="card-header pb-0 text-left bg-transparent">
                            <h4 class="text-info text-gradient">
                              Reset Password
                            </h4>
                            <p class="mb-0">
                                {% if msg %}
                                <h3 class="text-danger"> {{ msg | safe }} </h3>
                                {% endif %}
                            </p>
                          </div>
                          <div class="card-body">
                            <form role="form text-left" method="post" action="">
                              {% csrf_token %}
                              <label>Password</label>
                              <div class="mb-3">
                                 <input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true">
                              </div>

                              <label>Confirm Password</label>
                              <div class="mb-3">
                                 <input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required="true">
                              </div>
                              <div class="text-center">
                                <button type="submit" name="login" class="btn bg-gradient-info w-100 mt-4 mb-0">Send Reset Email</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
        {% else %}
             <h1 class="h3 mb-3 font-weight-normal" style="color: red">Link Expired <a href="{% url 'login' %}"></a></h1>
        {% endif %}

    {% else %}
<section>
    <div class="page-header section-height-75">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
            <div class="card card-plain mt-6">
              <div class="card-header pb-0 text-left bg-transparent">
                <h4 class="text-info text-gradient">
                  Update Password
                </h4>
                <p class="mb-0">
                    {% if msg %}
                    <h3 class="text-danger"> {{ msg | safe }} </h3>
                    {% endif %}
                </p>
              </div>
              <div class="card-body">
                <form role="form text-left" method="post" action="">
                  {% csrf_token %}
                  <label>Old Password</label>
                  <div class="mb-3">
                      <input name="old_password" class="form-control" placeholder="Old password" type="password" id="id_old_password" required="true">
                  </div>

                  <label>Password</label>
                  <div class="mb-3">
                     <input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true">
                  </div>

                  <label>Confirm Password</label>
                  <div class="mb-3">
                     <input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required="true">
                  </div>
                  <div class="text-center">
                    <button type="submit" name="login" class="btn bg-gradient-info w-100 mt-4 mb-0">Send Reset Email</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    {% endif %}
{% endblock %}