{% load static %}
<footer class="footer pt-3  ">
<div class="container-fluid">
  <div class="row align-items-center justify-content-lg-between">
    <div class="col-lg-6 mb-lg-0 mb-4">
      <div class="copyright text-center text-sm text-muted text-lg-start">
        &copy; <a href="https://arpansahu.space" class="font-weight-bold" target="_blank">arpansahu.space</a>
      </div>
    </div>
    <div class="col-lg-6">
      <ul class="nav nav-footer justify-content-center justify-content-lg-end">
        <li class="nav-item">
            <a class="btn btn-block btn-social btn-github" href="https://github.com/arpansahu/school_chale_hum">
                <span class="fa fa-github" style="margin-right: 10px"></span> Clone This Repo
            </a>
            <a class="btn btn-block btn-social btn-github" href="https://github.com/arpansahu">
                <span class="fa fa-github" style="margin-right: 10px"></span> Follow on Github
            </a>
            <a class="btn btn-block btn-social btn-github" href="https://arpansahu.space">
              <span class="fa"><img src="{% static 'arpansahu-footer.png' %}" width="13" height="13"></span> Portfolio
            </a>
            <a class="btn btn-block btn-social btn-linkedin" href="https://www.linkedin.com/in/arpansahu">
                <span class="fa fa-linkedin" style="margin-right: 10px"></span> Follow on LinkedIn
            </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</footer>
