{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
  <div class="container-fluid py-1 px-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark"  href="{% url 'home' %}">
            <img style="border-radius: 10px" src="{% static 'school.png' %}" alt="CALCULATOR logo" width="75  " height="75"></a>
        </li>
      </ol>
    </nav>
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        <div class="input-group">
            <h5  class="my-0 mr-md-auto font-weight-bolder" style="margin: 10px">School Chale Hum</h5>
        </div>
      </div>
      <div class="ms-md-auto pe-md-3 d-flex align-items-center">

      </div>
      <ul class="navbar-nav  justify-content-end">
        <li class="nav-item d-flex align-items-center">
          {% comment %} <a href="admin/" style="margin-right: 13px;">Admin Panel</a> {% endcomment %}
          <a href="javascript:;" class="nav-link text-body font-weight-bold px-0">
            <a style="margin-right: 10px;" href="{% url 'account' %}"><i class="fa fa-user me-sm-1"></i></a>

              {% if request.user.is_authenticated %}
                  <a href="{% url 'logout' %}">
                    <span class="d-sm-inline d-none">Sign Out</span>
                  </a>
              {% else %}
                  <a href="{% url 'login' %}">
                      <span class="d-sm-inline d-none">Sign In</span>
                  </a>

              {% endif %}
          </a>
        </li>
        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </a>
        </li>
        <li class="nav-item px-3 d-flex align-items-center">

        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
